# Documentation files to ignore

architecture.md
**/architecture.md

# Old project folder to ignore
backend-old/
**/backend-old/

# Common files to ignore
.DS_Store
.idea/
*.iml
*.iws
*.class
target/
.settings/
.project
.classpath

# Logs
*.log
logs/
docs

# Build directories
**/target/
**/build/

# Maven
.mvn/
mvnw
mvnw.cmd
.history
.vscode