<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="CONSOLE_PATTERN">%highlight{%d{HH:mm:ss.SSS} %-5level %logger{1.} - %msg%n}{FATAL=red, ERROR=red, WARN=yellow, INFO=cyan, DEBUG=blue, TRACE=white}</Property>
        <Property name="FILE_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n%ex{5}</Property>
    </Properties>
    
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLE_PATTERN}"/>
        </Console>
        <RollingFile name="RollingFile" fileName="/app/logs/main-application.log"
                     filePattern="/app/logs/main-application-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>${FILE_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    
    <Loggers>
        <!-- Kök logger seviyesi INFO, varsayılan log seviyesi -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>

        <!-- Spring Framework için log seviyesi düşürüldü -->
        <Logger name="org.springframework" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        
        <!-- Toyota ana modülleri için loglar -->
        <Logger name="com.toyota.mainapp" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        
        <!-- Toyota alt sistemleri için daha spesifik loglar -->
        <Logger name="com.toyota.mainapp.subscriber.impl.TcpRateSubscriber" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        
        <Logger name="com.toyota.mainapp.subscriber.impl.RestRateSubscriber" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <!-- Noisy kütüphaneler için log seviyesi yüksek tutuldu -->
        <Logger name="org.apache.kafka" level="WARN" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>
        
        <Logger name="org.apache.zookeeper" level="ERROR" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>
        
        <Logger name="io.netty" level="WARN" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>
    </Loggers>
</Configuration>
